@model Provider.Models.User

@{
    ViewBag.Title = "Delete";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Delete the user.</h2>
</hgroup>

<h3>Are you sure you want to delete this user?</h3>

<fieldset>
    <legend>UserProfile</legend>

    <ol>
        <li>
            @Html.LabelFor(model => model.FirstName)
            @Html.DisplayFor(model => model.FirstName)
        </li>
        <li>
            @Html.LabelFor(model => model.LastName)
            @Html.DisplayFor(model => model.LastName)
        </li>
        <li>
            @Html.LabelFor(model => model.Email)
            @Html.DisplayFor(model => model.Email)
        </li>
    </ol>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "button" })
    </p>
}
