@model Provider.Models.User

@{
    ViewBag.Title = "Details";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Review the profile details.</h2>
</hgroup>

<fieldset>
    <legend>Profile</legend>

    <ol>
        <li>
            @Html.LabelFor(model => model.FirstName)
            @Html.DisplayFor(model => model.FirstName)
        </li>
        <li>
            @Html.LabelFor(model => model.LastName)
            @Html.DisplayFor(model => model.LastName)
        </li>
        <li>
            @Html.LabelFor(model => model.Email)
            @Html.DisplayFor(model => model.Email)
        </li>
    </ol>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "button" })
    @Html.ActionLink("Back to Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "button" })
</p>
