@model inBloomLibrary.Models.Tenant

@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Register an inBloom Sandbox tenant.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tenant</legend>

        <ol>
            <li>
                @Html.LabelFor(model => model.inBloomTenantId)
                @Html.EditorFor(model => model.inBloomTenantId)
                @Html.ValidationMessageFor(model => model.inBloomTenantId) <br />
                For Sandbox tenants, this is the email address used to
                create the Sandbox.
            </li>
            <li>
                @Html.LabelFor(model => model.ClientId)
                @Html.EditorFor(model => model.ClientId)
                @Html.ValidationMessageFor(model => model.ClientId)
            </li>
            <li>
                @Html.LabelFor(model => model.SharedSecret)
                @Html.EditorFor(model => model.SharedSecret)
                @Html.ValidationMessageFor(model => model.SharedSecret)
            </li>
            <li>
                @Html.LabelFor(model => model.LongLivedSessionToken)
                @Html.EditorFor(model => model.LongLivedSessionToken)
                @Html.ValidationMessageFor(model => model.LongLivedSessionToken)
            </li>
        </ol>
    </fieldset>

    <div id="accordian">
        <h3>inBloom Application Registration</h3>
        <div>
            This application must be registered with your inBloom Sandbox, and your inBloom Sandbox must be
            registered with this application. You can do both at the same time following these directions.
        <ol>
            <li>
                First launch the <a href="http://portal.sandbox.inbloom.org/" target="_blank">inBloom Sandbox Portal</a> and
                complete these steps:
                <ol>
                    <li>
                        Select the <strong>Administer My Sandbox</strong> realm.
                    </li>
                    <li>
                        Login if required.
                    </li>
                    <li>
                        Click on <strong>Admin</strong>.
                    </li>
                    <li>
                        Click on <strong>Application Registration</strong>.
                    </li>
                    <li>
                        Click on <strong>New Application</strong>.
                    </li>
                    <li>
                        Fill in all the required fields except <strong>Url</strong> and <strong>Redirect Url</strong>.
                    </li>
                    <li>
                        Copy and paste the following <strong>Url</strong> into the application registration, 
                        replacing <strong>TenantID</strong> with the <strong>@Html.DisplayNameFor(model => model.TenantId)</strong>
                        you entered above.
                        @Html.Label("Url")
                        @Html.TextBox("Url",
                            Url.Action("ExternalLogin2",
                                "Account",
                                new { provider = "inbloomsandbox", tenantId = "TenantID" },
                                Request.Url.Scheme),
                                new { @readonly = "readonly", style = "width:100%" })
                    </li>
                    <li>
                        Copy and paste the following <strong>Redirect Url</strong> into the application registration.
                        @Html.Label("Redirect Url")
                        @Html.TextBox("RedirectUrl",
                            Url.Action("ExternalLoginCallback",
                                "Account",
                                null,
                                Request.Url.Scheme),
                                new { @readonly = "readonly", style = "width:100%" })
                    </li>
                    <li>
                        Click on <strong>Register</strong> to save the registration.
                    </li>
                    <li>
                        Click on <strong>In Progress</strong> to generate the <strong>Client ID</strong> and <strong>Shared Secret</strong>.
                    </li>
                    <li>
                        Click on <strong>Edit</strong> to open the application registration and see the <strong>Client ID</strong>
                        and <strong>Shared Secret</strong>.
                    </li>
                </ol>
            </li>
            <li>
                Enter the <strong>@Html.DisplayNameFor(model => model.TenantId)</strong> for your Sandbox above.
            </li>
            <li>
                Copy the <strong>Client ID</strong> and <strong>Shared Secret</strong> to the
                corresponding fields above.
            </li>
            <li>
                Click on <strong>Register Tenant</strong> to save the tenant registration.
            </li>
        </ol>
        </div>
    </div>

    <div>
        <input type="submit" value="Register Tenant" />
        @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "button" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            // Divide the form into sections using jQuery UI Accordian
            $("#accordian").accordion();
        });
    </script>
}
