@model inBloomLibrary.Models.Tenant

@{
    ViewBag.Title = Model.inBloomTenantId;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>inBloom Tenant registration details.</h2>
</hgroup>

<fieldset>
    <legend>Tenant</legend>

    <ol>
        <li>
            @Html.LabelFor(model => model.inBloomTenantId)
            @Html.DisplayFor(model => model.inBloomTenantId)
        </li>
        <li>
            @Html.LabelFor(model => model.ClientId)
            @Html.DisplayFor(model => model.ClientId)
        </li>
        <li>
            @Html.LabelFor(model => model.SharedSecret)
            @Html.DisplayFor(model => model.SharedSecret)
        </li>
        <li>
            @Html.LabelFor(model => model.LongLivedSessionToken)
            @Html.DisplayFor(model => model.LongLivedSessionToken)
        </li>
    </ol>
</fieldset>

<div id="accordian">
    <h3>inBloom Application Registration</h3>
    <fieldset>
        <legend>inBloom Application Registration</legend>

        <p>
            This application must be registered with your inBloom Sandbox <strong>and</strong> your inBloom Sandbox must be
            registered with this application. Please use the following <strong>Url</strong> and 
            <strong>Redirect Url</strong> when you register
            this application with your inBloom Sandbox.
        </p>

        <ol>
            <li>
                @Html.Label("Url")
                @Html.TextBox("Url", 
                    Url.Action("ExternalLogin2", 
                        "Account", 
                        new { provider = "inbloomsandbox", tenantId = @Model.inBloomTenantId }, 
                        Request.Url.Scheme), 
                        new { @readonly = "readonly", style = "width:100%" })
            </li>
            <li>
                @Html.Label("Redirect Url")
                @Html.TextBox("RedirectUrl", 
                    Url.Action("ExternalLoginCallback", 
                        "Account", 
                        null, 
                        Request.Url.Scheme), 
                        new { @readonly = "readonly", style = "width:100%" })
            </li>
        </ol>
    </fieldset>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TenantId }, new { @class = "button" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
</p>

@section Scripts {
    <script>
        $(function () {
            // Divide the form into sections using jQuery UI Accordian
            $("#accordian").accordion();
        });
    </script>
}