@model IEnumerable<inBloomLibrary.Models.Tenant>

@{
    ViewBag.Title = "inBloom Tenants";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<h3>About <a href="http://www.inbloom.org/" target="_blank">inBloom</a></h3>
<blockquote>
    "inBloom, Inc. is a nonprofit organization working to make personalized learning a reality for every U.S. student by improving the effectiveness, variety and affordability of education technology."
</blockquote>

<p>
    This application is compatible with inBloom. You can launch this application from your 
    <a href="https://portal.sandbox.inbloom.org/" target="_blank">inBloom Portal</a>, but first you must
    register your inBloom sandbox as an inBloom tenant here, <strong>and</strong> register this application
    with your inBloom sandbox. This application can service multiple tenants but each tenant much be registered 
    separately.
</p>

@if (Model.Count() == 0)
{
    <p>
        You have not registered any inBloom tenants yet.
    </p>
} 
else 
{
    <table>
        <tr>
            <th>inBloom Tenant</th>
            <th></th>
        </tr>

    @foreach (var tenant in Model) {
        <tr>
            <td>
                @Html.ActionLink(tenant.inBloomTenantId, "Details", new { id = tenant.TenantId })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = tenant.TenantId }, new { @class = "button" })
                @Html.ActionLink("Delete", "Delete", new { id = tenant.TenantId }, new { @class = "button" })
            </td>
        </tr>
    }

    </table>
}

<p>
    @Html.ActionLink("Register inBloom Tenant", "Create", null, new { @class = "button" })
</p>