@model LtiLibrary.Models.Consumer

@{
    ViewBag.Title = "Create LTI Consumer";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create an LTI Tool Consumer profile.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Consumer</legend>

        <ol>
            <li>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </li>
            <li>
                @Html.LabelFor(model => model.Key)
                @Html.EditorFor(model => model.Key)
                @Html.ValidationMessageFor(model => model.Key)
            </li>
            <li>
                @Html.LabelFor(model => model.Secret)
                @Html.EditorFor(model => model.Secret)
                @Html.ValidationMessageFor(model => model.Secret)
            </li>
        </ol>
    </fieldset>

    <div>
        <input type="submit" value="Create" />
        @Html.ActionLink("Back to List", "Index", routeValues: null, htmlAttributes: new { @class = "button" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
