@model Consumer.Models.Assignment

@{
    ViewBag.Title = "Delete";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Delete this assignment.</h2>
</hgroup>

<h3>Are you sure you want to delete this assignment?</h3>

<fieldset>
    <legend>Assignment</legend>

    <ol>
        <li>
            @Html.LabelFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)
        </li>
        <li>
            @Html.LabelFor(model => model.Description)
            @Html.DisplayFor(model => model.Description)
        </li>
        <li>
            @Html.LabelFor(model => model.Url)
            @Html.DisplayFor(model => model.Url)
        </li>
        <li>
            @Html.LabelFor(model => model.ConsumerKey)
            @Html.DisplayFor(model => model.ConsumerKey )
        </li>
        <li>
            @Html.LabelFor(model => model.Secret)
            @Html.DisplayFor(model => model.Secret)
        </li>
        <li>
            @Html.DisplayFor(model => model.IsPublic)
            @Html.DisplayNameFor(model => model.IsPublic)
        </li>
    </ol>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "button" })
    </p>
}
