@model Consumer.Models.ScoredAssignmentModel

<li>
    <a href="@Url.Action("Launch", "Assignment", new { id = Model.AssignmentId, returnUrl = @Request.Url.AbsoluteUri })" target="_self">
        <h2>@Model.Name</h2>
        @if (!string.IsNullOrEmpty(Model.Url))
        {
            <p>Website: @(new Uri(Model.Url).Host)</p>
        }
        @if (!string.IsNullOrEmpty(Model.Score))
        {
            <p>Score: @Model.Score</p>
        }
    </a>
</li>


