@model Provider.Models.RegisterLtiUserModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Associate your @Model.ConsumerName account.</h2>
</hgroup>

@using (Html.BeginForm("LtiLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            You successfully authenticated with <strong>@Model.ConsumerName</strong>.
            Please enter a user name for this site below and click the Register button to finish
            logging in here.
        </p>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.EditorFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            @if (ViewBag.ShowPassword)
            {
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.EditorFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
            }
        </ol>
        @Html.HiddenFor(m => m.ConsumerName)
        @Html.HiddenFor(m => m.LtiRequestId)
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
