<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LTI Sample Consumer</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Mobile/css", "~/Content/jquerymobile/css")
    @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
    <script>
        $(document).ready(function () {
            $.mobile.ajaxEnabled = false;
        });
    </script>
</head>
<body>

    <div data-role="page" data-theme="b">

        <div data-role="header">
@if (ViewBag.ReturnUrl != null)
{
            <a href="@ViewBag.ReturnUrl"  data-icon="arrow-l" data-theme="b">@ViewBag.ReturnLabel</a>
}
            <h1>@ViewBag.Title</h1>
        </div>

        <div data-role="content">
            @RenderSection("featured", false)
            @RenderBody()
        </div>

    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
