<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - LTI Tool Consumer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/Content/Mobile/css", "~/Content/jquerymobile/css")
    @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
    <script>
        $(document).ready(function () {
            $.mobile.ajaxEnabled = false;
        });
    </script>
    <style type="text/css">
        #wrap
        {
            position: fixed;
            left: 0;
            width: 100%;
            top: 45px;
            height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
        iframe.content
        {
            border: 0;
            display: block;
            width: 100%;
            height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    </style>
</head>
<body>
    
    <div data-role="page" data-theme="b">

        @RenderBody()

    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
