@if (Request.IsAuthenticated) {
    <text>
        Hello, @User.Identity.Name @(Roles.GetRolesForUser().Count() == 0 ? String.Empty : "(" + String.Join(", ", Roles.GetRolesForUser().ToArray()) + ")")
        @Html.ActionLink("Account", "Manage", "Account")
        @Html.ActionLink("Profile", "Edit", "User", routeValues: new { id = WebSecurity.CurrentUserId }, htmlAttributes: null)
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
